.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list li {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 1rem 1rem 1rem 1rem ;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px purple;
  }
  
  .list li img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 5px;
  }

  .rembut{
    border-radius: 10px;
    background-color: purple;
    border: none;
    color: #f0f0f0;
    height: 1.2rem;
    font-family: monospace;
    transition: background-color 0.3s ease; 
  }

  .rembut:hover{
    background-color: red;
    cursor: pointer;
  }